<h1>Popular matchups</h1>
<%= javascript_pack_tag 'fights',props: { division: 'popular', fights: @fights} %>

<%= content_tag :div,
  id: "fights_data",
  data: @fights.to_json do %>
<% end %>

<%= content_tag :div,
  id: "fighters_data",
  data: @fighters.to_json do %>
<% end %>
